body {
  padding: 0;
  margin: 0;
}

#nav {
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: #fff;
  box-shadow: 3px 3px 5px #999;
}

#header {
  width: 100%;
  margin-top: 2rem;
}

#logo-wrapper {
  widows: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  width: 90%;
}

.nav-header {
  display: inline;
  font-size: 1.2rem;
  font-family: serif;
}

a {
  text-decoration: none;
  color: #333;
}

#biography-wrapper {
  margin: 3rem 8rem;
}

#biography-text {
  font-size: 1rem;
  font-family: serif;
  line-height: 2rem;
  color: #333;
}

#footer {
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

#footer-text {
  font-size: 0.8rem;
  font-family: serif;
  line-height: 2rem;
  color: #333;
}
