body {
  padding: 0;
  margin: 0;
}

#nav {
  width: 100%;
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: #fff;
  box-shadow: 3px 3px 5px #999;
}

#header {
  width: 100%;
  margin-top: 2rem;
}

#logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  width: 90%;
}

.nav-header {
  display: inline;
  font-size: 1.2rem;
  font-family: serif;
}

a {
  text-decoration: none;
  color: #333;
}

#record {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 3rem auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 3rem;
}

.record-item {
  width: 10rem;
  height: 10rem;
  transition: box-shadow 1s;
}

.record-item img {
  width: 10rem;
  height: 10rem;
}

.record-item:hover {
  box-shadow: 6px 6px 5px #999;
}
