body {
    padding: 0;
    margin: 0;
}

#nav {
    min-width: 31.25rem;
    max-width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    background-color: #fff;
    box-shadow: 3px 3px 5px #999;
}

#header {
    width: 100%;
    margin-top: 2rem;
}

#logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    width: 90%;
}

.nav-header {
    display: inline;
    font-size: 1.2rem;
    font-family: serif;
}

.nav-header a {
    text-decoration: none;
    color: #333;
}

#link-list {
    margin: 3rem auto;
    width: 100%
}

.list-item {
    text-align: center;
    width: 10rem;
    margin: 0 auto;
}

.list-item a {
    text-decoration: none;
    color: #555;
    line-height: 3rem;
    height: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.list-item a p {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 2rem;
    margin: 0
}

.list-item img {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .8rem;
}

p:hover {
    color: rgb(80, 163, 196);
}